<nav class="navbar">
  <div class="navbar__container container">
    <a class="navbar__brand"  routerLink="">{{ name }}</a>

    <button
      class="navbar__toggle"
      [class.navbar__toggle--open]="isMenuOpen"
      (click)="isMenuOpen = !isMenuOpen"
      aria-label="Toggle navigation"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar__menu" [class.navbar__menu--open]="isMenuOpen">
      <a class="navbar__link" routerLinkActive="navbar__link--active" routerLink=""         (click)="isMenuOpen = false"   [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="navbar__link" routerLinkActive="navbar__link--active" routerLink="about"    (click)="isMenuOpen = false">About</a>
      <a class="navbar__link" routerLinkActive="navbar__link--active" routerLink="projects" (click)="isMenuOpen = false">Projects</a>
      <a class="navbar__link" routerLinkActive="navbar__link--active" routerLink="contact"  (click)="isMenuOpen = false">Contact</a>
      <a
  href="https://mail.google.com/mail/?view=cm&fs=1&to=amiraeltaher2020@gmail.com"
  target="_blank"
  class="btn btn-rose navbar__cta">
  Get in Touch
</a>
      <!-- <a   [href]="'mailto:' + email+ '?subject=Portfolio Inquiry'" class="btn btn-rose navbar__cta">Get in Touch</a> -->
    </div>
  </div>
</nav>
